{% extends '::base.html.twig' %}

{% block body -%}
<h1>{{ "dvd.creation" | trans }}</h1>

    <form action="{{ path('dvd_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-primary">Create</button>
        </p>
    </form>

    <ul class="record_actions">
    <li>
        <a href="{{ path('dvd') }}">
            {{ "back.list" | trans }}
        </a>
    </li>
    </ul>
{% endblock %}
